  .redes{
    align-items: center;
    margin: auto;
    width: 317px;
    height: 100px;
    background-color: rgb(226, 229, 235);
  }

button{
    width: 40px ;
    height: 40px;
   margin-block-end: 5px;
    gap: 10px
}

  