  .redes{
    align-items: center;
    width: 317px;
    height: 100px;
    background-color: rgb(24, 136, 144);
  }

button{
    width: 40px ;
    height: 40px;
   margin-block-end: 5px;
  
  gap: 10px
}

  