.date{
    display: flex;
    width: 30%;
    text-align: center; /* Ajusta el texto a la izquierda para que sea más legible */
    margin: 0 auto; /* Alinea el párrafo horizontalmente en el centro */
    max-width: 600px; 
}
a{
    max-width: 600px; 
    width: 50%;
   margin-right: 50px;
    margin-left: 50px;
}

.linkedin-icon{
    width: 50px;
  height: 50px;
  color: blue; 
}

.Email-icon{
   fill:  rgb(120, 72, 72); 
}
