.date{
   background-color: rgb(231, 229, 234); 
   width: 317px;
   margin: auto;
}
a{
    max-width: 600px; 
    width: 50%;
   margin-right: 50px;
    margin-left: 50px;
}

.linkedin-icon{
    width: 50px;
  height: 50px;
  color: rgb(36, 66, 113); 
}

.Email-icon{
   fill:  rgb(120, 72, 72); 
}

