.date{
   background-color: rgb(70, 138, 186); 
   width: 317px;
}
a{
    max-width: 600px; 
    width: 50%;
   margin-right: 50px;
    margin-left: 50px;
}

.linkedin-icon{
    width: 50px;
  height: 50px;
  color: blue; 
}

.Email-icon{
   fill:  rgb(120, 72, 72); 
}

